html, body, abbr, article, aside, audio, blockquote, button, canvas, code, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, iframe, img, input, label, legend, li, nav, object, ol, option, p, pre, q, section, select, table, tbody, td, tfoot, th, thead, tr, ul, video {
    margin: 0;
    padding: 0;
}

:root {
    --width-mobile: 375px;
    --width-desktop: 1440px;
    --color-primary-bright-orange: hsl(31, 77%, 52%);
    --color-primary-dark-cyan: hsl(184, 100%, 22%);
    --color-primary-very-dark-cyan: hsl(179, 100%, 13%);

    /*paragraphs*/
    --color-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);

    /*background, headings, buttons*/
    --color-neutral-very-light-gray: hsl(0, 0%, 95%);
    --font-size-copy: 15px;

    --font-family-lexend-deca: 'Lexend Deca', sans-serif;
    --font-family-big-shoulders: 'Big Shoulders Display', cursive;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: var(--font-size-copy);
    font-family: var(--font-family-lexend-deca)
}

* {
    box-sizing: border-box;
}


.container {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    body {
        height: 1400px;
    }

    .container {
        flex-direction: column;
    }
}

.card {
    padding: 4rem 3rem;
    width: 250px;
    height: 450px;
    color: var(--color-neutral-transparent-white);
}

.card h2 {
    font-size: 2rem;
    padding: 20px 0;
    font-family: var(--font-family-big-shoulders)
}

.card button {
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    color: black;
}

.card button:hover {
    cursor: pointer;
    border: 1px solid var(--color-neutral-transparent-white);
}

.card:nth-of-type(1) {
    background-color: var(--color-primary-bright-orange);
}

.card:nth-of-type(1) button {
    color: var(--color-primary-bright-orange);
}

.card:nth-of-type(1) button:hover {
    color: var(--color-neutral-transparent-white);
    background-color: var(--color-primary-bright-orange);
}

.card:nth-of-type(2) {
    background-color: var(--color-primary-dark-cyan);
}

.card:nth-of-type(2) button {
    color: var(--color-primary-dark-cyan);
}

.card:nth-of-type(2) button:hover {
    color: var(--color-neutral-transparent-white);
    background-color: var(--color-primary-dark-cyan);
}


.card:nth-of-type(3) {
    background-color: var(--color-primary-very-dark-cyan);
}

.card:nth-of-type(3) button {
    color: var(--color-primary-very-dark-cyan);
}

.card:nth-of-type(3) button:hover {
    color: var(--color-neutral-transparent-white);
    background-color: var(--color-primary-very-dark-cyan);
}


